@import "../Index.module.scss";

.container {
  overflow-y: scroll;
  padding: 30px 50px;
  display: flex;
  flex-direction: column;
  height: 100%;
  p {
    margin-bottom: 10px;
  }
  h1 {
    font-size: 50px;
  }
}
